<h1>Song #<%= @song.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @song.name %></p>
</div>
<div>
  <strong>Artist</strong>:<br />
  <p><a href = "/artists/<%= @artist.id %>"><%= @artist.name %></a></p>
</div>

<a href="/songs/<%= @song.id %>/edit">Edit</a> |
<a href="/songs/<%= @song.id %>/destroy">Destroy</a> |
<a href="/new_song">New</a>

